body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(to right, deepskyblue, lightgreen);
}

.counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 3rem;
}

.display {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}